@import "normalization";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #CCCCCC;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: min(1440px, 100%);
  min-height: 100vh;
  margin: 0 auto;
}

.fox-background {
  display: flex;
  flex-direction: column;
  min-height: 780px;
  background-color: #CCCCCC;
  background-image: url("../img/pretty-fox-bg.jpg");
  object-fit: cover;
  background-position: center;
}

.inner {
  width: min(1200px, 100%);
  margin: 0 auto;
  display: flex;

  &-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &-survival {

  }

  &-articles {
    //min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  &-notified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
  }

  &-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 14px;
  text-decoration: none;

  &-img {
    width: 65px;
    height: 65px;
  }

  &-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
    color: #F7F7F7;
  }

  :hover, :focus {
    color: #beff25;
    transition: color 300ms;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap:  nowrap;
  gap: 6px;

  img {
    width: 22px;
    height: 22px;
  }

  ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a, button {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 36px;
    color: #F7F7F7;
  }

  button.authorization {
    background-color: rgba(0,0,0, 0);
    border: 1px solid #CD6326;
    border-radius: 3px;
    &:hover, &:focus {
background-color: #CD6326;
    }
    &:active {
      background-color: #8F5613;
    }
  }

  a:hover, a:focus {
    background-color: rgba(120, 170, 200, .3);
    box-shadow: 0px 0px 10px 3px black;
    text-decoration: underline;
    color: #beff25;
    transition: all 300ms;
  }
}

.authorization {

}

.button {
  background: #CD6326;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: #F7F7F7;

  &:hover, &:focus {
    outline: none;
    outline-offset: 0;

    background: #E39128;
    box-shadow: 5px 8px 6px -2px rgba(50, 50, 50, .5);
    transition: all 200ms;
  }

  &:active {
    background: #8F5613;
  }
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  .control {
    width: 35px;
    height: 40px;

    &:hover {

    }
    &-left:hover {
      transform:translate(-5px) scale(1.2,1.2);
      transition: all 150ms;
    }
    &-right:hover {
      transform:translate(5px) scale(1.2,1.2);
      transition: all 150ms;
    }
  }

  .slide {
    object-fit: cover;
    width: 300px;
    height: 360px;
    margin: 2px;
    background-position: center;
  }

  .slide-1 {
    background-image: url("../img/deer.jpg");
  }

  .slide-2 {
    background-image: url("../img/squirrel.jpg");
  }

  .slide-3 {
    background-image: url("../img/bird.jpg");
  }
}

.header {
  padding: 18px 5px 18px 5px;
  margin-bottom: 70px;

  &-navigation {
    width: min(490px, 100%);

    ul {

    }

    a, button {
      padding: 4px 20px;
    }
  }
}

.survival {

  &-box {
    width: min(280px, 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 16px;
  }

  &-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #CD6326;
  }

  &-content {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
    margin: 0 0 36px 0;
  }

  &-button {
    width: 160px;
    height: 60px;
    border-radius: 5px;
  }
}

.articles {
  padding-top: 120px;
  &-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
  }

  &-description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
  }

  .slider {
    margin-top: 100px;
  }
}


.notified {
  padding-top: 235px;
  padding-bottom: 221px;
  .notified-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
  }

  .email-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    > * {
      height: 65px;
      margin: 15px 0;
    }

    .input-email {
      width: clamp(300px, 39vw, 594px);
      padding: 10px;
      opacity: 0.5;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 27px;
      display: flex;
      align-items: center;
      color: #666666;

      &:hover, &:focus {
        color: #02660d;
        background: #ece07a;
        transition: all 200ms;
      }
    }

    .button-email {
      width: min(120px, 50%);
      border-radius: 0px 5px 5px 0px;
    }
  }
}

.footer {
  min-height: 360px;
  background-color: #181617;
  background-image: url("../img/nature-footer-bg.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;

  &-navigation {
    width: min(600px, 100%);

    a {
      padding: 6px;
    }
  }

  .networks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none;
    gap: 20px;

    .networks-fb {
      background-image: url("../img/vector-fb.svg");
    }
    .networks-in {
      background-image: url("../img/vector-ins.svg");
    }
    &.networks-pi {
      background-image: url("../img/vector-pin.svg");
    }
    &.networks-yt {
      background-image: url("../img/youtube.svg");
    }

    a {
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-position: center;
      box-shadow: inset 0 0 3px 3px black;

      &:hover, &:focus {
        box-shadow: 0 0 15px 4px #e7f1ae;
        transition: all 200ms;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
}

@media only screen and (max-width: 420px) {
  .navigation {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    .link-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      a {
        text-decoration: none;
        text-transform: capitalize;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 60px;
        color: #F7F7F7;
      }
    }

  }
  .content-mail-service {
    em {
      font-size: clamp(24px, 10vw, 48px);
      line-height: clamp(36px, 14vw, 72px);
    }

    .email-sendbox {
      flex-wrap: wrap;

      .input, .button {
        width: 90vw;
      }
    }
  }


}

@media only screen and (max-width: 360px) {


}

@media only screen and (max-width: 280px) {


}