# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\rs-school\wildlife\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
